/* .navbar-brand{
    padding-right: 25em;
} */

html,
.navbar {
    background-color: #386766
}



html, body {
    height:100%;
}

a:link, a:visited {
    text-decoration: underline;
    color: #386766;
}

body {
    display: flex;
    flex-direction: column;
  }
  .main {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
    padding: 2rem;
    color: black;
  }
  .footer p {
    color: grey;
  }
}

.navbar-brand {
    margin-right: 3rem;

}


p,
h1,
h2 {
    color: white;
}

.title {
    color: white;
}

.section{
    padding-top: 0.5rem;
}

.navbar-item {
    color: white;

}

.home-image {
    width: 16rem;
}

a.navbar-item:hover {
    color: #386766;
}

@media screen and (min-width: 1024px) {
    .container:not(.is-max-desktop):not(.is-max-widescreen) {
        max-width: 900px;
    }
}

.navbar.is-spaced {
    padding-top: 2rem;
}


.navbar-burger {
    color: #ffffff;
}

@media screen and (max-width: 1023px) {
    .navbar-item {
        color: #386766;
    }
}

.navbar.is-spaced {
    padding: 1rem 0.75rem;
}

.navbar-burger:hover {
    background-color: white;
}

.footer-wrapper {
    min-height: 100%;
}